adbs==0.0.2
asgiref==3.3.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
chardet==3.0.4
click==8.0.1
colorama==0.4.4
Django==3.2.4
django-ckeditor==6.1.0
django-crispy-forms==1.11.2
django-filter==2.4.0
django-js-asset==1.2.2
django-mathfilters==1.0.0
django-nepali-datetime-field==0.4
google-trans-new==1.1.9
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib-metadata==4.5.0
joblib==1.0.1
nepali-datetime==1.0.6
nltk==3.6.2
numpy==1.20.3
pandas==1.2.4
Pillow==8.2.0
pyBSDate==0.3.0
python-dateutil==2.8.1
pytz==2021.1
regex==2021.4.4
requests==2.25.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.2.1
sqlparse==0.4.1
textblob==0.15.3
tqdm==4.61.0
typing-extensions==3.10.0.0
urllib3==1.26.5
zipp==3.4.1
